.crypto-list-container {
    width: 100%;
    overflow: hidden;
    display: flex;
    white-space: nowrap;
    background-color: #071952;
      padding: 15px 0;
  }
  
  .crypto-list {
    display: flex;
    animation: scroll 50s linear infinite;
    white-space: nowrap;
    color: #fff;
  }
  
  .crypto-item {
    min-width: 300px; /* Adjust the width as needed */
    margin: 0 10px; /* Add horizontal margin between items */
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .crypto-left {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-right: 10px;
  }
  
  .crypto-right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-right: 20px;
  }
  
  .crypto-name{
      font-size:25px;
      padding-bottom: 5px;
  }
  .crypto-symbol{
      font-size:20px;
      color: grey;
  }
  
  .crypto-price,
  .crypto-24hr-change {
    margin-top: 5px;
    font-size: 20px;
    
  }
  .crypto-price{
    padding-bottom: 5px;
   
  }
  .crypto-24hr-change {
    font-weight: 500;
  }
  
  .positive {
    color: green;
  }
  
  .negative {
    color: red;
  }
  
  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }